@font-face {
    font-family: 'Caslon Doric';
    src: url('./SK_Fonts/CaslonDoric-Light.woff2') format('woff2'),
        url('./SK_Fonts/CaslonDoric-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Caslon Doric';
    src: url('./SK_Fonts/CaslonDoric-Hairline.woff2') format('woff2'),
        url('./SK_Fonts/CaslonDoric-Hairline.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Caslon Doric';
  src: url('./SK_Fonts/CaslonDoric-Thin.woff2') format('woff2'),
      url('./SK_Fonts/CaslonDoric-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caslon Doric';
  src: url('./SK_Fonts/CaslonDoric-Regular.woff2') format('woff2'),
      url('./SK_Fonts/CaslonDoric-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {box-sizing:border-box}

img {
    display: block;
    height: auto;
    max-width: 100%;

  }

  header {
    position: absolute; /* Make it stick/fixed */
    top: 0px; /* Stay on top */
    width: 100%; /* Full width */
    z-index: 5;
    padding: 30px
}

header nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-between;
}

header nav a {
    font-family: 'Caslon Doric';
    font-weight: 300px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 0 auto;
}

.desktop-logo {
  display: block;
}

.desktop-logo img {
  width: 250px;
  position: relative;
  z-index: 30;
}

.mobile-logo {
  display: none;
}

header nav div img{
  width: 60px;
}

header nav div:nth-of-type(2) {
  width: 60px;
}


header .menu-btn {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

header .menu-content {
  background-image: url("/SK_Images/Travel\ website\ 05.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Caslon Doric';
  font-weight: 300;
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

}

header .menu-btn a {
  text-decoration: none;
  font-size: 2.5vw;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

header .menu-btn a:hover, .menu-btn a:focus {
  color: #f1f1f1;
}

header .menu-btn .closebtn img {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
}  

section .opening-block {
    background-image: url("https://res.cloudinary.com/dtmlnugky/image/upload/v1639068903/Necker%20island%20LR/DJI_0710_k6ooqk.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
  background-size: cover;
}

section .down-link {
    position: absolute;
    z-index: 10;
    bottom: 30px;
    color: white;
    font-size: 20px;
    width: 100%;
    font-family: 'Caslon Doric';
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}

section .down-link img {
    width: 40px;
    margin: 10px auto 0 auto;
  }

section .opening-block h1 {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* padding-bottom: 6.7vw; */
    font-family: 'Caslon Doric';
    font-weight: 100;
    font-size: 6vw;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}


section h3 {
    font-family: 'caslon Doric';
    font-size: 16px;
    font-weight: 300;
    padding-top: 120px;
    margin-bottom: 16px;
    letter-spacing: 0.6px;

}

section h2 {
    font-family: 'caslon Doric';
    font-size: 4vw;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 16px;
}

section h4 {
    font-family: 'caslon Doric';
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 80px;
    color: #7A91A5;
    letter-spacing: 0.6px;
}

section h6 {
    font-family: 'caslon Doric';
    font-size: 32px;
    font-weight: 200;
    color: #7A91A5;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-basis: 30%;
}

section .grid-wrapper {
    width: 70%;
    margin: 0 100px 0 auto;
}

section .three-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 40px
}

section .three-column div { 
    flex-basis: 30%;

}

section .three-column p { 
    font-family: 'caslon Doric';
    font-weight: 300;
    font-size: 16px;
    color: #707070;
    flex-basis: 30%;
    letter-spacing: 0.6px; 
}

section .small-line img{
    margin-top: 20px;
    width: 40px;
}

section .photo-slider-block {
    height: 85vh;
    width: 100vw;
    background-color: black;
    padding-left: 23%;
    overflow: hidden;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: 0 0 auto auto;
    height: 82vh;
    overflow: hidden;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    height: 82vh;
    position: relative;  
  }

  .mySlides img {
    min-height: 100vh;
    object-fit: cover;
    position: absolute;
    bottom: 60px;
 
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 0 4%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next img {
    width: 18px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .prev img {
    width: 18px;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-family: 'caslon Doric';
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.6px; 
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  h5 {
      color: white;
      font-family: 'Caslon Doric';
      font-weight: 300;
      letter-spacing: 1.2px;
      writing-mode: vertical-rl;
      margin: -65vh 0 0 -17%
  }

  main {
    height: 100%;;
  }

footer {    
    font-family: 'caslon Doric';
    font-weight: 300;
    font-size: 12px;
    display: flex;
    width: calc(100vw - 200px);
    border-bottom: 2px solid #7A91A6;
    margin: 0 auto 60px auto;
    justify-content: space-between;
    letter-spacing: 1.2px;
    position: relative;
    bottom: 10px;
  }

  footer p{
      margin-top: 0;
      width: 25%;
  }

  footer a {
      width: 12.5%;
      text-decoration: none;
  }

  footer a:first-of-type {
      width: 50%;
  }

  footer a:last-of-type {
      text-align: right;
  }

  footer a:nth-of-type(2) {
      text-align: right;
  }

  .mobile-logo {
    display: none;
  }

  @media screen and (max-width: 600px) {
   
      section .opening-block h1 {
      font-size: 16vw;
    }

    section h2 {
    font-size: 13vw;
    }
   
    .desktop-logo {
      display: none;
    }

    .mobile-logo {
      display: block;
      width: 150px;
    }

    section .grid-wrapper {
      width: 100%;
      padding-right: 40px;
      padding-left: 40px;
    }

    section h3 {
      font-size: 13px;
      font-weight: normal;
      padding-top: 40px;
    }

    section h4 {
      font-size: 13px;
      font-weight: normal;
      margin-bottom: 50px;

    }

    .small-line {
      display: none;
    }

    section .three-column {
      flex-direction: column;
      margin-bottom: 20px;
    }

    section .photo-slider-block {
      height: 250px;
    }

    section .photo-slider-block {
      padding-left: 40px;
    }

    .mySlides {
      height: 280px;
    }

    section h6 {
      font-weight: 100;
    }

    .numbertext {
      bottom: 29px;
      font-size: 12px;
    }

    h5 {
      margin: -790px 0 0 -25px;
      font-size: 6px;
    }

  }

  